# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GitHub\GIF-GOTitFIRST\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
